[submodule "cpplint"]
	path = cpplint
	url = https://github.com/nicmcd/cpplint
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest
[submodule "gtest-parallel"]
	path = gtest-parallel
	url = https://github.com/nicmcd/gtest-parallel
